In [67]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split
import seaborn as sns
import pickle
%matplotlib inline

In [39]:
marathon = pd.read_csv(r'Final_Mara_attr_times.csv')

In [40]:
marathon.fillna(-1, inplace=True)

In [41]:
marathon

,Results,Year,Age,Previous marathons,GDP,Weight,Height,Last Time
0,7377.0,2014,37,5,6.144535e+10,-1.0,-1.0,7425.0
1,7425.0,2013,37,5,5.509734e+10,-1.0,-1.0,7610.0
2,7456.0,2012,37,5,5.041275e+10,-1.0,-1.0,-1.0
3,7550.0,2015,37,5,6.376754e+10,-1.0,-1.0,7377.0
4,7610.0,2013,37,5,5.509734e+10,-1.0,-1.0,7456.0
...,...,...,...,...,...,...,...,...
996,7704.0,2010,35,1,2.018650e+10,-1.0,-1.0,-1.0
997,7704.0,2012,35,1,6.203213e+12,-1.0,-1.0,-1.0
998,7705.0,1999,59,1,1.289601e+10,-1.0,-1.0,-1.0
999,7705.0,2010,33,1,2.993379e+10,-1.0,-1.0,-1.0
1000,7705.0,2011,45,1,4.195343e+10,-1.0,-1.0,-1.0

In [42]:
y = marathon['Results']
X = marathon.iloc[:,1:]

In [44]:
X.shape

(1001, 7)

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [72]:
def model_cv(X_train, y_train):

    # Model

    gb = GradientBoostingRegressor()

    # Space
    
    gb_space = {
        'learning_rate': [1, 0.5, 0.25, 0.1, 0.05, 0.01],
        'n_estimators': [1, 2, 4, 8, 16, 32, 64, 100, 200, 250, 3500, 350, 450, 500, 1000],
        'max_depth': np.linspace(1, 32, 32, endpoint=True),
        'min_samples_split': np.linspace(0.1, 1.0, 10, endpoint=True),
        'min_samples_leaf': np.linspace(0.1, 0.5, 5, endpoint=True)
    }

    # Tuning


    cv = RepeatedKFold(n_splits=10, n_repeats=3)
    search = RandomizedSearchCV(gb, gb_space, n_iter=500, scoring='neg_root_mean_squared_error', n_jobs=-1, cv=cv, verbose=1)

    result = search.fit(X_train, y_train)

    return result

In [ ]:
models = model_cv(X_train, y_train)

In [59]:
# Save as .pkl

# output = open('gb_model.pkl', 'wb')
# pickle.dump(models[0], output)
# output.close()

In [60]:
# Open .pkl file

pkl_file = open('gb_model.pkl', 'rb')
gb_model = pickle.load(pkl_file)
pkl_file.close()