# Scraping Script

## Import packages

In [1]:
import pandas as pd
import numpy as np
#from selenium import webdriver
#from selenium.webdriver.common.keys import Keys
#from selenium.webdriver.support.ui import Select
#from selenium.webdriver.chrome.service import Service
import requests
from bs4 import BeautifulSoup
import time
import re
import string

from datetime import date

import datetime
import statistics


from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

## Specify Path

In [2]:
url = 'http://www.olympedia.org/results/19000437'

## Get 2021 results

In [3]:
dfs = pd.read_html('http://www.olympedia.org/results/19000437',encoding='utf8')

In [4]:
#Get the right dataframe
dat_2021 = dfs[1]
#Get rid of no-finishers
dat_2021_clean = dat_2021[dat_2021.Pos != "AC"][['Athlete', 'NOC', 'Time']]
#get time in a consistent format
hours = dat_2021_clean.Time.apply(lambda x: int(x[0]))
minutes = dat_2021_clean.Time.apply(lambda x: int(x[2:4]))
seconds = dat_2021_clean.Time.apply(lambda x: int(x[5:7]))
dat_2021_clean.Time = hours * 3600 + minutes * 60 + seconds
print(dat_2021_clean)

               Athlete  NOC  Time
0       Eliud Kipchoge  KEN  7718
1         Abdi Nageeye  NED  7798
2          Bashir Abdi  BEL  7800
3     Lawrence Cherono  KEN  7802
4       Ayad Lamdassem  ESP  7816
..                 ...  ...   ...
71          Cam Levins  CAN  8923
72        Yuma Hattori  JPN  9008
73   José Juan Esparza  MEX  9111
74  Jorge Castelblanco  PAN  9202
75          Iván Zarco  HON  9876

[76 rows x 3 columns]

## Get 2021 athlete data

In [5]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')

In [6]:
#Get athlete id's so that I can parse through the profile pages
athlete_id = []
i = 0
for a in soup.find_all('a', href=True):
    if a['href'][1:9] == 'athletes':
        athlete_id.append(a['href'][9:])
        i = i + 1


athlete_id_clean = list(set(athlete_id[4:]))

In [7]:
#parse through athlete profiles
ath_url = 'http://www.olympedia.org/athletes'
ath_list = []
for ath in athlete_id_clean:
    ath_list.append(pd.read_html(ath_url + ath, encoding='utf8'))

In [8]:
#Get athlete attribute table from the athlete profiles
ath_attr = []
for attr in ath_list:
    for tables in attr:
        if tables.iloc[0,0] == 'Type':
            tables.columns = ['attr', 'val']
            column_names = tables.attr.to_numpy()
            value_names = tables.val.to_numpy()
            new_table = pd.DataFrame(value_names.reshape(-1, len(value_names)), columns = column_names)
            ath_attr.append(new_table)

In [9]:
#clean up the data
attr_table = pd.concat(ath_attr).reset_index()
attr_table = attr_table[['Sex', 'Used name', 'Born', 'NOC', 'Measurements']]
#Get birth elements
pattern = '\d+'
attr_table['day'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[0]))
attr_table['year'] = attr_table.Born.apply(lambda x: int(re.findall(pattern, x)[1]))
pattern2 = '\D+(?=\s)'
attr_table['month'] = attr_table.Born.apply(lambda x: re.findall(pattern2, x)[0])
attr_table['age'] = 2021 - attr_table.year
attr_table = attr_table.drop('Born', axis=1)
#Get the used name in correct format
attr_table['Used name'] = attr_table['Used name'].apply(lambda x: x.replace('•', ' '))
#Get height and weight in cm and kg
attr_table['height'] = np.nan
attr_table['weight'] = np.nan
pattern = ' cm'
pattern = '\d+'
for i in range(len(attr_table)):
    if attr_table.Measurements.notna()[i]:
        height_possible = attr_table.Measurements[i].split(' cm')
        if 'k' in attr_table.Measurements[i]:
            weight_possible = attr_table.Measurements[i]
            weight_possible = weight_possible[-5:weight_possible.index("k")]
            attr_table.weight[i] = weight_possible
        if len(height_possible) > 1:
            attr_table.height[i] = height_possible[0]  
attr_table.drop(['Measurements', 'day', 'year', 'month'], inplace = True, axis = 1)

<ipython-input-9-a81c381ba49b>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attr_table.weight[i] = weight_possible
<ipython-input-9-a81c381ba49b>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attr_table.height[i] = height_possible[0]

In [10]:
#write to csv
#dat_2021_clean.to_csv('2021_results.csv', index = False)
#attr_table.to_csv('runner_attributes_2021.csv', index = False)

## Get GDP

In [13]:
gdp = pd.read_csv("data/gdp_csv.csv")
gdp.rename(columns={"Country Code": "Country"}, inplace= True)
gdp.drop(columns= ['Country Name'], inplace= True)

## Get marathon attributes and times

In [14]:
def age(birthdate):
    today = date.today()
    one_or_zero = ((today.month, today.day) < (birthdate.month, birthdate.day))
    year_difference = today.year - birthdate.year
    age = year_difference - one_or_zero
    return age

def year(date):
  return date.year  

def seconds(date):
  return date.total_seconds()

In [17]:
Mara_attr_times = pd.read_csv('data/running_times.csv')
Mara_attr_times = Mara_attr_times[Mara_attr_times['Event'] == 'Marathon']
Mara_attr_times = Mara_attr_times[Mara_attr_times['Gender'] == 'Men']

# Find number of Marathons
Number_Marathons = Mara_attr_times.groupby("Name").count()
Number_Marathons.reset_index(inplace= True)
Number_Marathons = Number_Marathons.filter(['Name', 'Rank'])
Number_Marathons['Previous marathons'] = Number_Marathons['Rank']

#Convert to Datetime
Mara_attr_times['Date of Birth'] = pd.to_datetime(Mara_attr_times['Date of Birth'])
Mara_attr_times['Date'] = pd.to_datetime(Mara_attr_times['Date'])
Mara_attr_times['Time'] = pd.to_datetime(Mara_attr_times['Time'], format= "%H:%M:%S") - datetime.datetime(1900, 1, 1)

#Clean the data
Mara_attr_times['Year'] = Mara_attr_times['Date'].apply(year)
Mara_attr_times['Age'] = Mara_attr_times['Date of Birth'].apply(age)
Mara_attr_times['Time'] = Mara_attr_times['Time'].apply(seconds)
Mara_attr_times.drop(columns = ['Date of Birth', 'Gender', 'Event', 'Rank', 'Place', 'City'], inplace= True)

#Merge GDP and Previous Marathons
Mara_attr_times = pd.merge(Mara_attr_times, Number_Marathons, on = "Name")
Mara_attr_times = pd.merge(Mara_attr_times, gdp, on = ['Country', 'Year'], how = "left")
Mara_attr_times["GDP"] = Mara_attr_times["Value"]
Mara_attr_times.drop(columns=['Country', 'Value', 'Rank'], inplace= True)

## Read in and merge data

In [18]:
Athlete_events = pd.read_csv("data/athlete_events.csv")

Athlete_events = Athlete_events[Athlete_events["Sex"] == "M"]

Athlete_events.drop_duplicates(subset=['Name'], inplace= True)
Athlete_events = Athlete_events.filter(['Name','Weight','Height'])

In [19]:
Mara_attr_times = pd.merge(Mara_attr_times, Athlete_events, on = "Name", how = "left")

In [20]:
TND = Mara_attr_times[["Time", "Name", "Date"]]
TND.sort_values(by = ["Name", "Date"], inplace= True)
TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
TND["Last Time"] = np.nan
print(TND)

       Time                   Name       Date  Last Time
916  7684.0        Zithulele Sinqe 1986-05-03        NaN
936  7688.0          Yusuf Songoka 2011-04-10        NaN
953  7694.0          Yuki Kawauchi 2013-03-17        NaN
954  7695.0          Yuki Kawauchi 2013-02-03        NaN
892  7679.0    Yoshiteru Morishita 2001-03-04        NaN
..      ...                    ...        ...        ...
546  7695.0  Abdelkader El Mouaziz 1999-01-31        NaN
545  7687.0  Abdelkader El Mouaziz 1998-04-26        NaN
538  7662.0          Abayneh Ayele 2017-04-09        NaN
536  7605.0          Abayneh Ayele 2016-01-22        NaN
537  7636.0          Abayneh Ayele 2015-10-11        NaN

[999 rows x 4 columns]

<ipython-input-20-79dde42a7183>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND.sort_values(by = ["Name", "Date"], inplace= True)
<ipython-input-20-79dde42a7183>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND.sort_values(by = ["Name", "Date"], inplace= True, ascending= False)
<ipython-input-20-79dde42a7183>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TND["Last Time"] = np.nan

In [21]:
#get last marathon time
for i in range(len(TND)):
 if i < len(TND) - 1:
   if TND.iloc[i,1] == TND.iloc[i+1,1]:
     TND.iloc[i,3] = TND.iloc[i+1,0]
TND.drop(columns= ['Time'], inplace= True)
Mara_attr_times = pd.merge(Mara_attr_times, TND, on = ["Name", "Date"])


Mara_attr_times

C:\Users\ritch\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\ritch\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Time,Name,Date,Year,Age,Previous marathons,GDP,Weight,Height,Last Time
0,7377.0,Dennis Kimetto,2014-09-28,2014,37,5,6.144535e+10,NaN,NaN,7425.0
1,7425.0,Dennis Kimetto,2013-10-13,2013,37,5,5.509734e+10,NaN,NaN,7610.0
2,7456.0,Dennis Kimetto,2012-09-30,2012,37,5,5.041275e+10,NaN,NaN,NaN
3,7550.0,Dennis Kimetto,2015-04-26,2015,37,5,6.376754e+10,NaN,NaN,7377.0
4,7610.0,Dennis Kimetto,2013-02-24,2013,37,5,5.509734e+10,NaN,NaN,7456.0
...,...,...,...,...,...,...,...,...,...,...
996,7704.0,Daniel Kipkorir Chepyegon,2010-10-31,2010,35,1,2.018650e+10,NaN,NaN,NaN
997,7704.0,Hiroyuki Horibata,2012-12-02,2012,35,1,6.203213e+12,NaN,NaN,NaN
998,7705.0,Paul Kipsambu,1999-04-04,1999,59,1,1.289601e+10,NaN,NaN,NaN
999,7705.0,Wegayehu Girma,2010-11-07,2010,33,1,2.993379e+10,NaN,NaN,NaN
1000,7705.0,Daniel Kirwa Too,2011-10-23,2011,45,1,4.195343e+10,NaN,NaN,NaN

In [22]:
#read in data for test set
run_attr = pd.read_csv(r'runner_attributes_2021.csv')
run_results = pd.read_csv(r'2021_results.csv')
#merge datasets for runner attributes
run_attr.rename({'Used name': 'Athlete'}, axis = 1, inplace=True)
join_table = run_attr.merge(run_results, on = 'Athlete')
#clean data
join_table.fillna(-1, inplace = True)
join_table.drop(['Sex', 'NOC_x'], axis=1, inplace = True)
join_table['Year'] = 2016
#merge data for gdp
join_table = join_table.merge(gdp, how = 'left', left_on = ['NOC_y', 'Year'], right_on = ['Country', 'Year'])
join_table.drop(['Country', 'NOC_y'], axis=1, inplace = True)
join_table.rename({'Value': 'GDP'})
print(join_table.head())
#join with previous marathon data
final_table = join_table.merge(Mara_attr_times[['Name', 'Year', 'Previous marathons', 'Last Time']], how = 'left', left_on = ['Athlete', 'Year'], right_on = ['Name', 'Year'])
final_table['Year'] = 2021
final_table.drop(['Name', 'Athlete'], inplace = True, axis = 1)
print(final_table.head())
final_table.to_csv(r'data/2021_final.csv')

    Sex             Athlete           NOC  age  height  weight
0  Male    Filex Chemongesi        Uganda   28     NaN     NaN
1  Male        Marhu Teferi        Israel   29   164.0    52.0
2  Male        Elroy Gelant  South Africa   35   175.0    61.0
3  Male  Bat-Ochiryn Ser-Od      Mongolia   40   169.0    61.0
4  Male       Lelisa Desisa      Ethiopia   31     NaN     NaN
            Athlete  NOC  Time
0    Eliud Kipchoge  KEN  7718
1      Abdi Nageeye  NED  7798
2       Bashir Abdi  BEL  7800
3  Lawrence Cherono  KEN  7802
4    Ayad Lamdassem  ESP  7816
            Athlete  age  height  weight  Time  Year         Value
0  Filex Chemongesi   28    -1.0    -1.0  8453  2016  2.407893e+10
1      Marhu Teferi   29   164.0    52.0  7982  2016  3.177448e+11
2      Elroy Gelant   35   175.0    61.0  8203  2016           NaN
3    Brett Robinson   30   176.0    60.0  8644  2016  1.204616e+12
4      Yuma Hattori   28    -1.0    -1.0  9008  2016  4.940159e+12
   age  height  weight  Time  Year         Value  Previous marathons  \
0   28    -1.0    -1.0  8453  2021  2.407893e+10                 NaN
1   29   164.0    52.0  7982  2021  3.177448e+11                 NaN
2   35   175.0    61.0  8203  2021           NaN                 NaN
3   30   176.0    60.0  8644  2021  1.204616e+12                 NaN
4   28    -1.0    -1.0  9008  2021  4.940159e+12                 NaN

   Last Time
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [23]:
Final_Mara_attr_times = Mara_attr_times.drop(columns= ["Date", "Name"])
Final_Mara_attr_times.rename(columns={"Time": "Results"}, inplace= True)

In [24]:
Final_Mara_attr_times.to_csv(r'data/Final_Mara_attr_times.csv', index = False)

In [25]:
# Calc Mean and STD
for col in Final_Mara_attr_times.columns:
  print(col, round(np.nanmean(Final_Mara_attr_times[col]),2), round(np.nanstd(Final_Mara_attr_times[col]),2))

Results 7629.44 64.54
Year 2009.34 6.43
Age 39.57 7.96
Previous marathons 4.17 3.09
GDP 369753182906.83 1553507034473.51
Weight 59.44 4.27
Height 173.09 6.7
Last Time 7615.59 70.08